:root {
    --my-theme-color: #581d00;
    --my-theme-color-r: #eaeaea;
    --dark: #581d00;
    --light: #eaeaea;
    --color-0: #eaeaea;
    --color-1: #c6b7b0;
    --color-2: #a18475;
    --color-3: #7d503b;
    --color-4: #581d00;
}
html {
    font-size: 14px;
}
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
form {
    font-size: 1rem;
}
button {
    padding: 1rem;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.themeColor {
    color: var(--color-2);
}
.ui.button.btn {
    background: #fff;
}

.ui.button.btn:hover {
    color: #fff;
}

.ui.button.btn:focus {
    background: #fff;
}
.inputItemP {
    cursor: pointer;
}

.fixDnD {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

img.cover,
video.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mirror img,
.mirror video {
    transform: scaleX(-1);
}
.hidden {
    display: none !important;
}
.cotent {
    display: flex;
}
.link {
    cursor: pointer;
}

.page {
    min-height: 1500px;
}
.item {
    width: 100%;
}
.center {
    text-align: center;
}
