.chatArea {
    display: flex;
    flex-direction: row;
}
.sendInput {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sendInput div {
    padding: 5px;
}
.userList {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    background: --light;
}
.userList :global(.item) {
    padding: 0.2em;
    font-size: 0.8em;
    flex-direction: none;
    justify-content: space-around;
    align-items: center;
}
.avator {
    height: 30px;
    width: 30px;
    margin-right: 7px;
}
.avator img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #333;
    object-fit: cover;
}

.userList :global(.selected) {
    transform: scale(1.2);
}
.userList :global(.self) {
    color: rgb(0, 128, 85);
}
.conversations {
    font-size: 1em;
    display: flex;
    padding: 1em;
    border-radius: 10px;
    flex-direction: column-reverse;
    background: #eaeaea;
    color: #333;
    min-height: 5em;
    max-width: 20em;
    max-height: 10em;
    overflow-y: auto;
}
.item {
    display: flex;
    flex-direction: row;
}
.conversations .item .sendFrom {
    width: 16em;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
    overflow-x: hidden;
}
.conversations .item .text {
    word-wrap: break-word;
    padding-left: 7px;

    width: 34em;
    text-align: left;
}
